.introBox {
  background: radial-gradient(
    circle,
    rgba(81, 61, 99, 0.12),
    rgba(24, 10, 37, 0.75)
  );
  
}
.tab{
  border-top-right-radius: 6rem;
  border-top-left-radius: 3rem;
}
.tab1{
  border-top-left-radius: 6rem;
  border-top-right-radius: 3rem;
}
@media(max-width:767px){
  .tab1{
    border-top-right-radius: 6rem;
  }
  

}
