@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Press+Start+2P&family=Roboto+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PacFont';
  src: url('/src/assets/fonts/PacFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Freon';
  src: url('/src/assets/fonts/Freon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-shadow-white {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 0 0 16px rgba(255, 255, 255, 0.6);
  }

  .text-shadow-red {
    text-shadow: 0 0 8px rgba(255, 0, 0, 0.8), 0 0 16px rgba(255, 0, 0, 0.6);
  }

  .text-orange-500 {
    color: #FF5733;
  }
  
  .text-yellow-500 {
    color: #FFEB3B;
  }
  
  .text-blue-500 {
    color: #33A1FF;
  }
  
  .text-pink-500 {
    color: #FF33A1;
  }
  
  .text-red-700 {
    color: #B01D15;
  }
  
  .text-gray-400 {
    color: #C0C0C0;
  }
  
  .drop-shadow-orange-500 {
    filter: drop-shadow(0 0 20px #FF5733);
  }
  
  .drop-shadow-yellow-500 {
    filter: drop-shadow(0 0 20px #FFEB3B);
  }
  
  .drop-shadow-blue-500 {
    filter: drop-shadow(0 0 20px #33A1FF);
  }
  
  .drop-shadow-pink-500 {
    filter: drop-shadow(0 0 20px #FF33A1);
  }
  
  .drop-shadow-red-700 {
    filter: drop-shadow(0 0 15px #B01D15);
  }
  
  .drop-shadow-gray-400 {
    filter: drop-shadow(0 0 20px #C0C0C0);
  }
  
  .drop-shadow-white {
    filter: drop-shadow(0 0 20px #FFFFFF);
  }
}

@layer components {
  .text-glow-white {
    @apply text-shadow-white;
  }

  .text-glow-red {
    @apply text-shadow-red;
  }

  .text-glow-orange {
    @apply drop-shadow-orange-500;
  }

  .text-glow-yellow {
    @apply drop-shadow-yellow-500;
  }

  .text-glow-blue {
    @apply drop-shadow-blue-500;
  }

  .text-glow-pink {
    @apply drop-shadow-pink-500;
  }

  .text-glow-gray {
    @apply drop-shadow-gray-400;
  }
}

*:root {
  background-color: #05071A;
}

.gradient-text {
  background: linear-gradient(179.38deg, #FBD60E 0.54%, #DD903D 55.34%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statistics-text-shadow {
  text-shadow: 0 0 50px rgba(185, 28, 28, 0.8), 0 0 50px rgba(185, 28, 28, 0.5);
}
